:root{
    --color-cta: #090B12;
    --color-sidebar: #000000;
    --color-main: #141922;
    --color-footer: #282828;
    --color-text: #797B81;
    --color-text-link: #ADFF2E;
}

body{
    background-color: var(--color-main);
    color: white;
    
}

.layout-top{
    height: 90vh;
    border: 3px solid lightgreen;
    display: flex;
}

.layout-bottom{
    height: 10vh;
    border: 3px solid lightcoral;
}

.layout__sidebar{
    flex-basis:  10%;
    border: 3px solid lightcyan;

    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    
    background-color: var(--color-sidebar);
}


.layout__main{
    flex-basis: 90%;
    border: 3px lightsalmon;
    overflow-y: auto;


}

.layout__main h2{
    margin-block: 10px;
    padding-inline: 10px;

}

.layout__cta{
    border: 3px solid lightseagreen;
    padding: 20px;
    text-align: right;
    position: sticky;
    top: 0;
    background-color: var(--color-cta);
    font-size: 1rem;
    
}

.btn{
    border: 1px solid white;
}

.btn--circle{
    padding: 10px 20px;
    border-radius: 20px;
}

/*.layout__sidebar--top{
    border: 3px solid lightcoral
    height: (calc 100% - 100px)

}
.layout__sidebar--bottom{
    border: 3px solid lightcoral
    height: 100px
}
*/

.layout__sidebar--logos img[alt$="logo"]{
    display: none;
}


.layout__sidebar--menu ul li a span{
    display: none;
}

.layout__sidebar--menu ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.layout-bottom{
    background-color: #282828;
}

.layout__sidebar--playlist{
    display: none;
}

.layout__main--menus ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1rem;

}

.layout__main--albums{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-inline: 10px;
}

.layout__main--albums .card{
    flex-basis: calc(100% / 2 - 9px);
    text-align: center;
}

.layout__main--albums .card{
    width: 100%;
}

.layout__main--playlist-JD{
    display: none;
}

